.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.logo{
  height: 4vmin;
  margin:20px;
}

.banner{
  /* height: 4vmin; */
  margin:20px;
}

.App-header {
  /* background-color: #282c34; */
  background-color: #943672;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  /* color: white; */
}

th,td{
  font-size: 16px
  
}
.email{
  font-size: 10px

}

.table-row{
  border: 1px solid black;
}
.table-container{
  background-color: white;
  height: 100%
}
.table-title{
  font-weight: bold;
  margin:10px;
  font-size: 18px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
